$color-background: #3498db;
$color-dashboard-background: #fff;
$color-button-success: #2ecc71;

$box-shadow-rounded: 0 0 0 1px rgba(14, 41, 57, 0.12), 0 2px 1px rgba(14, 41, 57, 0.20), inset 0 0px 3px rgba(14, 41, 57, 0.15);