@import "settings";
@import "vendor/fixed-data-table";
@import "vendor/react-select";

body, html {
	background: $color-background;
}

body,
body * {
	font-family: 'Avenir', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-weight: normal;
    margin: 0;
}

.app {
	width: 800px;
	margin: auto;
}

.home__header {
	text-align: center;
}