@import "../settings";

.addressStatus {
  display: block;
  border-radius: 3px;
  box-shadow: $box-shadow-rounded;
  display: inline-block;
  padding: 10px 30px;
  color: white;
  font-weight: 500;
  font-size: 26px;
}

.addressStatus--neutral {
  composes: addressStatus;
  background: #999;
}

.addressStatus--good {
  composes: addressStatus;
  background: $color-button-success;
}